# minecraft source
origami-server/src/minecraft

# run server
origami-server/run

# gralde
.gradle
**/build/
!**/src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# other
.idea
.project
.classpath
